.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: #ffffff;
    border-bottom: 1px solid #dde1ee;

    :global {
        .header-extra {
            display: flex;
        }
    }
}
