.app-slider {
    height: 100%;

    :global {
        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;

            .app-slider-header {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 49px;
                font-size: 1.5rem;
                border-bottom: 1px solid #e4e9f1;

                .logo {
                    width: 152px;
                    height: 43.53px;
                    background: url("../images/logo.png") center center no-repeat;
                    background-size: 100% 100%;
                }

                &.collapsed {
                    .logo {
                        margin-right: 0;
                        text-align: center;
                    }

                    span {
                        display: none;
                    }
                }
            }

            .app-slider-main {
                flex: 1;
            }

            .app-slider-footer {
                height: 3.125rem;
                font-size: 1.125rem;
                line-height: 3.125rem;
                color: #ffffff;
                text-align: center;
                border-top: 1px solid #e4e9f1;
            }
        }

        .slider-toggle-btn {
            position: absolute;
            top: 72px;
            left: 100%;
            width: 20px;
            height: 20px;
            line-height: 18px;
            text-align: center;
            cursor: pointer;
            background: #f5f5f5;
            border: 1px solid var(--crw-color-primary);
            border-radius: 50%;
            transform: translate(-50%, -50%);

            .anticon {
                color: var(--crw-color-primary);
                transform: rotate(-90deg);

                &.icon-open {
                    transform: rotate(90deg);
                }
            }
        }
    }
}
